@import url('../../static/styles/global-styles.css');

body {
    background-image: url("../../static/assets/background.png");
}

#back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: auto;
    height: 15rem;
}

