body {
    background-color: #6ED1C5;
    background-image: url("static/assets/fundoaa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 18px;
    font-size: 16px;
    color: white;
    background-color: #DF4F4F;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#back-button:hover {
    background-color: #762222;;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    justify-items: center;
}


.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.choose-btn {
    background-color: #6ED1C5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.choose-btn:hover {
    background-color: #0a8475;
}

#voltar {
    border: none;
}
